<div class="main-body-section">
    <div class="why-section">
        <p class="why-title">Why Choose UniNest Go?</p>
        <div class="blue-line"></div>

        <div class="boxes-section">
            <div class="a-box">
                <div class="feature-icon" style="background-image: url('../../../../assets/images/Map.png')"></div>
                <p class="main-title-box">Explore Diverse Listings</p>
                <p class="sub-title-box">Access a wide range of verified student-friendly properties near all major universities.</p>
            </div>

            <div class="a-box">
                <div class="feature-icon" style="background-image: url('../../../../assets/images/Handshake.png')"></div>
                <p class="main-title-box">Seamless Connections</p>
                <p class="sub-title-box">Directly connect with verified landlords and potential roommates.</p>
            </div>

            <div class="a-box">
                <div class="feature-icon" style="background-image: url('../../../../assets/images/Profile.png')"></div>
                <p class="main-title-box">Easy Applications & Leases</p>
                <p class="sub-title-box">Access a wide range of verified student-friendly properties near all major universities.</p>
            </div>

            <div class="a-box">
                <div class="feature-icon" style="background-image: url('../../../../assets/images/Tools.png')"></div>
                <p class="main-title-box">Hassle-Free Maintenance</p>
                <p class="sub-title-box">Submit and track maintenance requests with ease, ensuring prompt resolution.</p>
            </div>

            <div class="a-box">
                <div class="feature-icon" style="background-image: url('../../../../assets/images/Shield.png')"></div>
                <p class="main-title-box">Secure & Transparent</p>
                <p class="sub-title-box">Enjoy peace of mind with secure transactions and transparent communication.</p>
            </div>

            <div class="a-box">
                <div class="feature-icon" style="background-image: url('../../../../assets/images/Graph.png')"></div>
                <p class="main-title-box">Optimize Your Portfolio</p>
                <p class="sub-title-box">Landlords gain powerful tools for listing, managing, and analyzing properties.</p>
            </div>
        </div>
    </div>
</div>

<app-about-contact-faq></app-about-contact-faq>