<div class="footer-main">
    <div class="inner-footer-main">
        <div class="first-section-footer"> 
            <div class="main-title">
                <p class="footer-tiles">Company</p>
            </div>
            <div class="sub-titles">
                <div>
                    <p>Your ultimate platform for student accommodation.</p>
                </div>
                
            </div>
        </div>

        <div class="second-section-footer"> 
            <div class="main-title">
                <p class="footer-tiles">For Students</p>
            </div>
            <div class="sub-titles">
                <p (click)="goToLogin()">Find Accommodation</p>
                <p (click)="goToLogin()">Find Student Dashboard</p>
                <p (click)="scrollToFAQ()">Student Support</p>
            </div>
        </div>

        <div class="third-section-footer"> 
            <div class="main-title">
                <p class="footer-tiles">For Landlords</p>
            </div>
            <div class="sub-titles">
                <p (click)="goToLogin()">Find Your Property</p>
                <p (click)="goToLogin()">Landlord Dashboard</p>
                <p (click)="goToLogin()">Landlord Resources</p>
            </div>
        </div>

        <div class="fourth-section-footer"> 
            <div class="main-title">
                <p class="footer-tiles">Company</p>
            </div>
            <div class="sub-titles">
                <p (click)="scrollToAbout()">About Us</p>
                <p (click)="scrollToContact()">Contact</p>
                <p (click)="scrollToFAQ()">Privacy Policy</p>
                <p (click)="scrollToFAQ()">Terms of Service</p>
            </div>
        </div>
    </div>

    <div class="lower-footer">
        <div class="white-line-footer"></div>
        <p>©2025 UNINEST ™ All rights reserved</p>
    </div>
</div>