<app-nav-landlord></app-nav-landlord>
<div class="main-landing-landlord">
    <div class="main-title-LL-box">
        <h1 class="main-heading">Find. Apply. Settle. Simple Student Living.</h1>
        <p class="sub-heading">UniNest Go connects students with 
            their ideal homes and empowers landlords with seamless 
            property management.</p>
    </div>

    <div class="action-buttons">
        <button class="btn list-property-btn" (click)="goToLogin()"><i class="bi bi-buildings"></i> List Your Property</button>
        <button class="btn find-home-btn" (click)="goToLogin()"><i class="bi bi-search"></i>Find Your Home</button>
    </div>
</div>
<app-landlord-body></app-landlord-body>
<app-footer></app-footer>