/* navbar.component.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main-nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(134, 134, 134, 0.929);
  padding: 0 5%;
  box-sizing: border-box;
  background-color: #F5F7FA;
}

.title-uninest {
  color: #4A90E2;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.titles-section {
  display: flex;
  align-items: center;
}

.desktop {
  display: flex;
  gap: 30px;
  font-size: 12px;
  font-weight: 600;
}

.desktop p {
  margin: 0;
  cursor: pointer;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #4A90E2;
  margin-left: 20px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #F5F7FA;
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(134, 134, 134, 0.5);
  
}

.mobile-menu p {
  margin: 10px 0;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
.main-nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(134, 134, 134, 0.929);
  padding: 0 5%;
  box-sizing: border-box;
  background-color: #F5F7FA;
}

  .title-uninest {
    font-size: 18px;
  }

  .desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-menu {
    display: flex;
    z-index: 1000;
    position: fixed;
  }
}
