/* ------------------------------
Media Queries for Responsiveness
---------------------------------- */

/* Small Devices (phones) */
@media (max-width: 480px) {
    h2 {
      font-size: 1.5rem;
      margin: 1.5rem 0;
    }
  
    form {
      width: 95%;
      padding: 1.5rem;
      min-height: 75vh;
    }
  
    input,
    button {
      font-size: 0.95rem;
    }
  }
  
  /* Medium Devices (tablets) */
  @media (min-width: 481px) and (max-width: 768px) {
    form {
      padding: 2rem;
      min-height: 75vh;
    }
  }
  
  /* Large Devices (desktops) */
  @media (min-width: 769px) {
    .login-container {
      margin-top: -15rem;
    }
  
    form {
      height: 30vh;
      padding: 2.5rem;
    }
  }